.chat-chat {
  background-image: url(../images/chatBG.png);
  min-height: 100vh;
}

.chat-body {
  padding: 0;
}

.chat-body .status-bar {
  padding: 10px 10px 10px 20px;
}

.chat-body .header {
  padding: 10px 20px 0px 20px;
}

.chat__write {
  position: fixed;
  bottom: 50px;
  width: 90%;
  display: flex;
  background-color: #fcfcfc;
  padding: 0px 10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 40px;
  box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.05),
    0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat__write i {
  font-size: 25px;
  opacity: 1;
  cursor: pointer;
}

.chat__write-column:nth-child(2) {
  width: 75%;
}

.chat__write-column .chat__write-input {
  padding: 10px 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write-column .chat__write-input:focus {
  outline: none;
}

.chat-chat .message-avatar {
  width: 60px;
  height: 60px;
  border-radius: 35%;
  background-color: #ece6f5;
  margin-right: 20px;
  align-items: flex-start;
}

.chat-chat .chat__messages {
  border-top: 1px solid #f7f7f7;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__messages .chat__timestamp {
  background-color: #cee589;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.05),
    0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
}

.message {
  display: flex;
  align-items: flex-start;
  padding: 0px 20px;
  margin-bottom: 20px;
}

.message .message__timestamp {
  align-self: flex-end;
  font-size: 10px;
}

.incoming-message {
  align-self: flex-start;
}

.sending-message {
  align-self: flex-end;
}

.message .message__bubble {
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.05),
    0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  border: 2px solid #f7f7f7;
  color: white;
  font-weight: 300;
}

.incoming-message .message__author {
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-top-left-radius: 0;
  margin-right: 10px;
  background-image: linear-gradient(to right, #00f260, #0575e6);
}

.sending-message .message__bubble {
  border-top-right-radius: 0;
  margin-left: 10px;
  background-image: linear-gradient(to left, #67b26f, #4ca2cd);
}
